*{
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #f0f0f0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family:cursive;
	font-style:normal;
}

.navbar {
	position: fixed;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    padding: 1rem;
	height:73px;
	background: rgb(246, 245, 243);
	box-shadow: 0 4px 12px rgb(134, 134, 134);
	color: rgb(105, 134, 114);
	font-family:cursive;
	font-style: normal;
	z-index: 1;
}

.logo img {
    flex: 1; 
	width: 100px;
	height: 70px;
	margin-left: 50px;
}

.menu {
    flex: 4; 
    display: flex;
    justify-content: center; 
	text-align: center;
    gap: 2rem;
	padding-right: 80px;
}

.program {
    flex: 1;
	justify-content:center;
    text-align: left;
}

.nav-link:hover {
	color: #fff;
	border-radius: 2rem;
	background: rgb(105, 134, 114);
	box-shadow: 0 0 25px rgb(105, 134, 114);
}

.heading{
	text-align: center;
	font-family:cursive;
	font-style: normal;
	padding-top: 110px;
	padding-bottom: 60px;
}

.nav-link {
	list-style:none;
	padding: 0.5rem 1rem; 
	align-items: center;
	font-weight: 600;
	cursor: pointer;
}

.writing img{
	flex: 1;
	height: 40px;
	width: 250px;
	margin-top: 30px;
}

a{
	text-decoration: none;
	color: currentColor;
	font-size: 23px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.icons{
	display: flex;
	gap: 3rem;	
	justify-content:center;
	align-items: center;
	position: relative;
	font-size: 24px;
}

.title{
	font-family:cursive;
	font-style: normal;
	font-size: 24px;
}

.home {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    min-height: 100vh; 
    box-sizing: border-box;
	background-image: url('home.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.side-desc {
    grid-column: 1 / 2;
    grid-row: 1; 
    font-family: "Great Vibes", cursive;
    font-weight: 200;
    font-size: 70px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
	text-align: center;
}

.picture {
    display: flex;
    justify-content: flex-end;
}

.picture img {
    max-width: 95%;
    height: auto; 
    object-fit: contain; 
    border-radius: 8px; 
}

.aboutMe{
	background-image: url('aboutMe.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
	width: 100%; 
    min-height: 100vh; 
}

.meDesc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 85%;
	height: 10%;
	border-radius: 18rem;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);	
	background-color: rgb(246, 245, 243);
	color: rgb(76, 102, 83);
	margin-bottom: 30px;
}

.meDesc p{
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 30px;
	font-family:cursive;
	font-style:normal;
	font-size: 23px;
}

/*services section*/

.services{
	width: 100%; 
    min-height: 100vh; 
}

.services-box{
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}


.services-box i{
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 40px;
}

.wrapper-service{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 0.1rem;
	padding-bottom: 100px;
}

.service-item{
	height: 620px;
	width: 420px;
	background-image: url('frame.png');
    background-size: cover; 
    background-position: center; 
	border-radius: 2rem;
	margin: 0 1.5rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 2rem;
	color: rgb(105, 134, 114);
	transition: 0.4s ease-in-out;
}

.service-item:hover{
	border: 3px solid rgb(105, 134, 114);
	transform: translateY(-10px)scale(1.03);
	box-shadow: 0 0 50px rgb(105, 134, 114);
}

.description-service {
	display: none;
	font-size: 17px;
	height: 270px;
	font-family:cursive;
	font-style: normal;
	text-align: left;
	padding-left: 40px;
	padding-right: 30px;
}

/*articles section*/

.articles{
	background-color: #f0f0f0;
	width: 100%; 
    min-height: 100vh; 
}


.articles-box i{
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 40px;
}

.wrapper-article{
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	padding-bottom: 100px;
}

.article-item{
	height: 620px;
	width: 750px;
	background-image: url('articles.png'); 
    background-size: cover; 
    background-position: center;
	border-radius: 2rem;
	margin: 0 1.5rem;
	padding: 90px 30px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	gap: 2rem;
	color: rgb(246, 245, 243);
	transition: 0.4s ease-in-out;
  	overflow: hidden;
}

.article-item:hover{
	border: 3px solid rgb(105, 134, 114);
	transform: translateY(-10px)scale(1.03);
	box-shadow: 0 0 50px rgb(105, 134, 114);
}

.description-article {
	padding-bottom: 30px;
	display: none;
	font-size: 17px;
	height: 1580px;
	font-family:cursive;
	font-style: normal;
	text-align: left;
	align-items: baseline;
}

/*contact section*/

.schedule {
	display: block;
	text-align: center;
	margin: 40px auto 40px auto;
	font-family:cursive;
	font-style: normal;
	font-size: 23px;
}

.calendar{
	position: relative;
    background-color: rgb(246, 245, 243);
    box-shadow: 0 0 20px 0 #999;
    margin-left: 970px;
	margin-top: 300px;
    transform: translate(-50%,-50%);
    border-radius: 2rem;
}

.contact{
	background-image: url('contact.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
}

.btn, .btn-service, .btn-article {
    border-radius: 2rem;
    color:rgb(105, 134, 114);
    padding: 10px;
    font-size: 16px;
	font-weight: 100;
    border: none;
    cursor:pointer;
	font-family:cursive;
	font-style: normal;
	margin-bottom: -10px;
	border: 2px solid rgb(105, 134, 114);
}

.btn:hover, .btn-service:hover, .btn-article:hover{
	color: #fff;
	border-radius: 2rem;
	background: rgb(105, 134, 114);
	box-shadow: 0 0 25px rgb(105, 134, 114);
}

.calendly-inline-widget{
	padding-top: 10px;
	min-width:350px;
	height:700px;
}

.map{
	width: 100%;
	height: 500px;
}

img {
	object-fit: contain;
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
}

#menu-bar {
    display: none;
}

@media only screen and (max-width: 1850px) {

	body{
		font-family:cursive;
		font-style:normal;
	}
	.wrapper-service{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
}

@media only screen and (max-width: 1600px) {
	.logo{
		margin-left: -60px;
	}

	.wrapper-article{
		gap: 5rem;
		flex-direction: column; 
        align-items: center; 
	}

	.calendly-inline-widget{
		height: 1000px;
	}

	.map{
		padding-top: 200px;
	}

}

@media only screen and (max-width: 1500px) {
	.menu {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; 
        background: rgb(246, 245, 243); 
        padding: 1rem 0;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

	.program{
		margin-left: 15px;
	}

    #menu-bar:checked ~ .menu {
        display: flex; 
    }

    .hamburger {
        display: block; 
    }

    .menu a {
        padding: 0.5rem; 
        text-align: center;
    }

}

@media only screen and (max-width: 1000px) {
	.wrapper-service{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 3rem;
	}
	
}

@media only screen and (max-width: 768px) {
	.home {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        text-align: center;
    }

    .side-desc {
        padding-top: 6rem;
        font-size: 45px;
    }

    .picture {
        justify-content: center;
    }

    .picture img {
        max-width: 80%;
    }

	.program{
		font-size: 12px;
		margin-left: -160px;
		margin-top: -20px;
	}

	.logo{
		margin-left:-70px;
	}

	.writing{
		margin-left: -14px;
	}

	.meDesc p{
		font-size: 17px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.meDesc {
		border-radius: 8rem;
	}
	
	.service-item{
		padding-top: 50px;
		height: 730px;
		width: 330px;
		justify-content:start;
	}

	.description-service{
		display: block;
	}

	.btn-service{
		display: none;
	}

	.btn-article{
		display: none;
	}

	.description-article{
		display: block;
	}

	.article-item{
		padding-top: 50px;
		width: 370px;
		height: 3750px;
		justify-content:start;
		pointer-events: none;
	}

	.wrapper-article{
		padding-top: 20px;
	}

	.calendly-inline-widget{
		padding-top: 50px;
	}

	.map{
		padding-top: 260px;
		height: 900px;
	}
}



